plugins/*
vendor/*
mu-plugins/*

# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
**node_modules**
*.log
themes/roots/assets/vendor/*
themes/roots/assets/css/*
themes/roots/assets/js/*
themes/roots/assets/js/vendor/modernizr.min.js
themes/roots/assets/manifest.json
