node_modules
plugins/*
vendor/*
mu-plugins/*
uploads/*
themes/**/assets/*
sprite-index.html
symbol-index.html


# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

