html {
  min-height: 100%;
}

body {
  //overflow: hidden;
  //min-height: 600px;
  //              url("../img/bg_rev.jpg") bottom transparent;
  background-color: #000;

  .page-header {
    border-bottom: 1px solid @gray-dark;
  }

  #title-block {
    position: fixed;
    width: 80%;
    left: 50%;
    top: 120px;
    //height: 65px;
    //line-height: 65px;
    //display: none;
    text-align: center;

    transform: translate(-50%, 0);

    > * {
      display: inline-block;
      //.trans;
    }

    svg {
      //padding-top: 4px;
      stroke: @brand-info;
      stroke-width: 3px;
      display: inline-block;
      height: 4px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -3px;
      z-index: -1;

      line {
        stroke: @brand-success;
        stroke-width: 3px;
      }

      @media (min-width: @screen-sm-min) {
        //width: 600px;
      }
    }


    h2 {
      font-size: 16px;
      font-family: orbitron;
      padding: 0 10px;
      margin: 0;
      display: inline-block;
      color: @gray;
      font-weight: normal;

      div {
        background-color: #000;
      }

      @media (min-width: @screen-sm-min) {
        font-size: 24px;
      }

      > * {
        .trans;
      }
    }
  }

  .wrap {
    z-index: 5;
    margin-top: 150px;

    section {
      //.make-row();
      display: none;
      min-height: 800px;

    }
  }

  #loader-wrap {
    width: 200px;
    .centered;

    .loader-path {
      .trans();
      stroke: @brand-primary;
      stroke-width: 50px;
    }
  }

}

body.home {
  //overflow: hidden;
}


