body {
//  background: #111;
  background: #000;
  
  font-family: 'Roboto', sans-serif;
}

#under_dev_splash {
  margin: 0 auto;
  display: block;
}

#bgOverlay {
  background: #000;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  display: none;
}


