html {
  min-height: 100%;
}

body {
  background-color: #000;

  .page-header {
    border-bottom: 1px solid @gray-dark;
  }

  #title-block {
    position: fixed;
    width: 80%;
    left: 50%;
    top: 110px;
    //height: 65px;
    //line-height: 65px;
    //display: none;
    text-align: center;
    //z-index: 5;
    transform: translate(-50%, 0);

    @media (min-width: @screen-md-min) {
      top: 120px;
    }

    > * {
      display: inline-block;
      //.trans;
    }

    svg {
      //padding-top: 4px;
      stroke: @brand-info;
      stroke-width: 3px;
      display: inline-block;
      height: 4px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -3px;
      z-index: -1;

      line {
        stroke: @brand-success;
        stroke-width: 3px;
      }

    }


    h2 {
      font-size: 16px;
      font-family: orbitron;
      padding: 0 10px;
      margin: 0;
      display: inline-block;
      color: @gray;
      font-weight: normal;

      div {
        background-color: transparent;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 1%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.06) 97%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,1)), color-stop(97%,rgba(0,0,0,0.06)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 1%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.06) 97%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 1%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.06) 97%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 1%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.06) 97%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 1%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.06) 97%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
      }

      @media (min-width: @screen-sm-min) {
        font-size: 22px;
      }

      > * {
        .trans;
      }
    }
  }

  .wrap {
    z-index: 5;
    margin-top: 150px;

    section {
      //.make-row();
      display: none;
      min-height: 800px;

    }
  }

  #loader-wrap {
    width: 200px;
    .centered;

    .loader-path {
      .trans();
      stroke: @brand-primary;
      stroke-width: 50px;
    }
  }

}

body.home {
  //overflow: hidden;
}


