
svg.logo {
  //fill: @brand-primary;
}

.logo_tripl3inf {
  fill: @brand-primary;

  .logo-tripl3inf-defs {
    path {
      fill: #fff;
    }
  }
  .logo-tripl3inf-letters {
    fill: none;
  }
  .logo-tripl3inf-infsymwhole path {
    .trans();
  }

  .logo-tripl3inf-infsympaths path {
    stroke: @brand-primary;
    stroke-width: 20px;
    mask: url(#infMask);
  }
  .logo-tripl3inf-desanddev path {
    fill: @gray;
  }
}











#triLoader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  overflow: hidden;

  #triLoaderPieces {
    position: absolute;
    fill: #aaff00;
    stroke: #aaff00;
  }

  #triLoaderMask {
    fill: #fff;
  }
}

.container_pwrdBy {
  //  width: 600px;
  text-align: center;
  font-size: 6em;
  font-style: italic;

  span {
    display: inline-block;
    position: relative;
    //visibility: hidden;
    //opacity: 0;
    -webkit-font-smoothing: antialiased;

    //    &:first-child {
    //      margin-right: 20px;
    //    }
  }
}







