
svg.logo {
  //fill: @brand-primary;
}


#intro_tripl3infLogo_wrap {
  width: 60%;
  display: none;
}



.tripl3infLogo {
  fill: none;
  stroke-width: 4px;
  width: 100%;
  display: block;

  .logo g path {
    opacity:0;
    visibility: hidden;
  }

  #infSymMasks {
    fill: #fff;
    stroke: none;
  }

  #infSym {
    #infSymPaths {
      path {
      stroke: #aaff00;
      stroke-width: 15px;
      opacity: 0;
      visibility: hidden;
      }
    }

    #infSymWhole path {
      fill: #aaff00;
      stroke: none;
      opacity: 0;
      visibility: hidden;
    }
  }
  #desanddev {
    path {
      opacity: 0;
      visibility: hidden;
      fill: #666;
    }
  }

}


  #contact_BTN {

    display: none;

//    height: 125px;
//    width: 125px;
    width: 8%;
    min-width: 100px;
    position: fixed;
    right: 50px;
    top: 10px;
    z-index: 999;

    > svg {
      fill: @brand-primary;
      height: 100%;
      width: 100%;
      display: block;
      stroke: none;
      #satWaves {
        stroke: #666;
        fill: none;
        stroke-width: 5px;
      }
    }

    .icons {
      i {
        color: #666;
        font-size: 3em;
        position: fixed;
        top: 20px;
        right: 20px;
        &:first-child {
          padding-right: 10px;
        }
        &:nth-child(2) {
          font-size: 4em;
        }
      }
    }
  }




#intro_aaaLogo {
  //position: absolute;
  display: block;
  overflow: hidden;
  width: 60%;


  #aaaLogoPieces {
    position: absolute;
    fill: #aaff00;
    stroke: #aaff00;
  }

}








//#triLoader {
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  margin: -250px 0 0 -250px;
//  /*  overflow: hidden;*/
//
//  #triLoaderPieces {
//    /*    position: absolute;*/
//    fill: #aaff00;
//    stroke: #aaff00;
//  }
//
//  #triLoaderMask {
//    /*    fill: #fff;*/
//  }
//}

  #triLoader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    overflow: hidden;

    #triLoaderPieces {
      position: absolute;
      fill: #aaff00;
      stroke: #aaff00;
    }

    #triLoaderMask {
      fill: #fff;
    }
  }




.container_pwrdBy {
//  width: 600px;
  text-align: center;
  font-size: 6em;
  font-style: italic;

  span {
    display: inline-block;
    position: relative;
    //visibility: hidden;
    //opacity: 0;
    -webkit-font-smoothing:antialiased;

//    &:first-child {
//      margin-right: 20px;
//    }
  }
}







