.sprite {
    font-size: 10px;
}

.sprite:before {
    content:' ';
    background-image: url("../img/spritesheet.svg");
  vertical-align:middle;
  display: inline-block;
    background-repeat: no-repeat;
    background-size: 32em 14.8em;
}

.no-svg .sprite:before {
    background-image: url("../img/spritesheet.png");
}



