/*
*  Template - film page
*/
.template-film {
  .featured_img_full {
    .make-md-column(12);
    padding: 0;

  }

  .left_rail {
    .make-md-column(4);
    padding-top: 20px;

    .vid_holder {
      iframe {
        width: 100%;
        overflow: hidden;
        margin: 0 0 20px 0;
      }
    }
  }

  .content {
    .make-md-column(8);
    padding-top: 15px;

    .entry-content {
      p {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
      }
    }
  }
}




