#about {
  .content {
    .trans;
    color: @gray;
  }
//  color: @brand-success;
//
  h1 {
    color: @brand-success;
    font-family: orbitron, sans-serif;
    text-align: center;
    margin-top: 0;
  }

}
