#about {

  .content {
    .trans;
    color: @gray;
    //.make-sm-column(12);

    h3 {
      color: @brand-success;
      font-family: orbitron, sans-serif;
      text-align: center;
      margin-top: 0;
    }

    article {
      //.make-sm-column(6);
    }

    .pic_box {
      margin: 0 auto;
      padding-bottom: 10px;

      @media (min-width: @screen-xs-min) {
        width: 100%;

        img {
          width: 200px;
        }
      }

      @media (min-width: @screen-md-min) {
        width: 250px;
        margin-left: 10px;
        float: right;

        img {
          width: 250px;
        }
      }

      img {
        display: block;
        margin: 0 auto;
      }

      svg {
        margin-top: 6px;
        width: 100%;
      }

      p {
        color: @brand-success;
        letter-spacing: 4px;
        font-size: 14px;
        text-align: center;
        margin: 0;
        padding: 8px 0 0 0;
        font-family: orbitron;

      }
    }

  }

}
