#about_container {
  display: none;
  .trans;
  margin: 180px auto;
  width: 50%;
  min-width: 250px;
  color: @brand-info;
  color: @brand-success;

  h1 {
    color: @brand-success;
    font-family: orbitron, sans-serif;
    text-align: center;
  }

}
