#contact_container {
  display: none;
  .trans();
  margin: 100px auto;
  width: 50%;
  min-width: 250px;
  color: @brand-primary;

  .form-control {
    border: 1px solid @brand-primary;
    background: transparent;
  }
}
