#contact {
  padding-top: 15px;
  min-width: 250px;
  color: @brand-primary;

  .content {
    .trans;

    p {
      text-align: center;
    }

    form {
      margin: auto;

      label {
        position: relative;
        left: 16px;
        top: 32px;
        background: #000;
      }
      .help-inline.error {
        position: relative;
        left: 16px;
      }
    }
  }
}
