                                                                                                                                                              footer {
  .container-fluid();
  width: 100%;
  height: 68px;
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 800px;
  padding: 0;
  background: #000 url(../img/bg_black-stripe.svg) repeat-x;

  display: inline-flex;

  &:before,
  &:after {
    content: '';
    background: #000 url(../img/footer_panel_piece.svg) no-repeat;
    display: block;
    //position: absolute;
    //flex-basis: 32em;
    flex-basis: 50%;
    width: 50%;
    height: 26px;
    vertical-align:middle;
    display: inline-flex;
  }



  &:before {
    left: 0;
  }

  &:after {
    z-index: 9;
    right: 0;
    background-position: right -28px;
  }

  nav {
    width: 68%;
    margin: 0 auto;

    #menu-footer-nav li a:after {
      background-position: 0em 0em;
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 1;
      font-size-adjust: none;
      font-stretch: normal;
      -moz-font-feature-settings: normal;
      -moz-font-language-override: normal;
      font-size: inherit;
      text-rendering: auto;
      -moz-osx-font-smoothing: grayscale;
      font-size: 1.8em;
      position: relative;
      top: 0.15em;
      left: 0.25em;
    }

    #menu-footer-nav li.menu-work a:after {
      content: "\f085";
    }

    #menu-footer-nav li.menu-home a:after {
      content: "\f015";
    }
    #menu-footer-nav li.menu-about-me a:after {
      content: "\f183";
    }



  }


  #aaaLogo_footer {
    position: absolute;
    right: 7em;
    top: 1.6em;
    z-index: 99;
    //width: 300px;

    > svg {
      height: 3em;
      width: 15em;
      fill: #99ff00;
      //stroke-width: 2em;
    }

    p {
      color: #555;
      font-size: 1em;
      float: left;
      margin: 1em -0.25em 0 0;
      font-style: italic;
      font-weight: bold;
    }
  }


}

