footer {
  .container-fluid();
  width: 100%;
  height: 68px;
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 800px;
  padding: 0;
  background: #000 url(../img/bg_black-stripe.svg) repeat-x;

  display: inline-flex;

  &:before,
  &:after {
    content: '';
    background: #000 url(../img/footer_panel_piece.svg) no-repeat;
    display: block;
    //position: absolute;
    //flex-basis: 32em;
    flex-basis: 50%;
    width: 50%;
    height: 26px;
    vertical-align: middle;
    display: inline-flex;
  }

  &:before {
    left: 0;
  }

  &:after {
    z-index: 9;
    right: 0;
    background-position: right -28px;
  }

  nav.navbar-fixed-bottom {
    width: 90%;
    height: 40px;
    margin: 0 auto 5px;

    ul#menu-footer-nav {
      position: absolute;
      left: 1.5em;
      bottom: 5px;

      li a {
        color: #555;
        font-weight: bold;
        padding: 0 2.5em 0 0;

        &:before {
          color: @brand-primary;
          background-position: 0em 0em;
          display: inline-block;
          font-family: FontAwesome;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          line-height: 1;
          font-size-adjust: none;
          font-stretch: normal;
          -moz-font-feature-settings: normal;
          -moz-font-language-override: normal;
          font-size: inherit;
          text-rendering: auto;
          -moz-osx-font-smoothing: grayscale;
          font-size: 1.75em;
          position: relative;
          top: 0.12em;
          left: -0.3em;
        }
        &:hover {
          color: @brand-info;
        }
      }
      li.menu-work a:before {
        content: "\f085";
      }

      li.menu-home a:before {
        content: "\f015";
      }
      li.menu-about a:before {
        content: "\f183";
      }
    }


  }

  #aaaLogo_footer {
    position: absolute;
    right: 0;
    bottom: -0.6em;
    z-index: 99;
    //width: 300px;

    > svg {
      height: 3em;
      width: 14em;
      //stroke-width: 2em;
    }

    p {
      color: #555;
      font-size: 0.8em;
      font-style: italic;
      font-weight: normal;
      left: -5em;
      bottom: 6px;
      position: absolute;
    }
  }

}

