header {
  top: 0;
  width: 100%;
  position: fixed;

  background: url("../img/bg.png");
  height: 200px;
  //top: 40%;
  margin: auto;
  z-index: 2;

  .logo {
    position: absolute;
    top: 0;
    left: 20px;
    width: 350px;
    .transparent();

    svg {
      width: 100%;
    }
  }

  #main_menu {
    display: block;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    //width: 80%;


    > ul {
      //float: right;
      position: relative;
      //left: -50%; /* or right 50% */
      > li {
        position: relative;
        width: 350px;
//        height: 250px;
        margin: 20px;
        display: inline-block;
        opacity: 1;
        visibility: visible;
        .transparent();


        a {
          .centered();
          .transparent();
          color: @gray-light;

          outline: 0;
          text-transform: uppercase;
          padding: 0;
          font-family: Orbitron;
          text-shadow: 0 2px 5px #663399;
          font-size: 1.5em;
          font-weight: bold;

          //pointer-events: none;

          &:hover {
            //cursor: hand;
            //cursor: default;
            text-decoration: none;
          }

        }


        // link after hud1 svg
        #hud1 + a {
          margin-left: 25px;
        }


      }

    }
  }
}

