header {
  top: 0;
  width: 100%;
  position: fixed;

  background: url("../img/bg.png");
  height: 200px;
  //top: 40%;
  margin: auto;
  z-index: 2;

  .logo {
    position: absolute;
    top: 0;
    left: 20px;
    width: 350px;
    .transparent();

    svg {
      width: 100%;
    }
  }

  #main_menu {
    display: block;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    //width: 80%;

    @media @md {
      //min-width: 800px;
    }

    > ul {
      //float: right;
      position: relative;
      //left: -50%; /* or right 50% */
      > li {
        position: relative;
        width: 250px;
        height: 250px;
        margin: 20px 10px;
        display: inline-block;
        .transparent();

        a {
          .vert-center;
          position: absolute;
          top: 0;
          width: 100%;
          outline: 0;
          text-align: center;
          text-transform: uppercase;
          padding: 0;
          color: @gray-light;
          text-shadow: 0 2px 5px #663399;
          font-size: 1.5em;
          font-weight: bold;
          &:hover {
            cursor: pointer;
          }
        }

        .hud {
          stroke: #9A40FF;
          stroke-width: 1.75px;

          .hud1-center,
            .hud1-ring1 {
            .transparent();
            stroke: #2900CC;
          }
          .hud1-center{
            stroke-width: 3px;
          }
        }

      }
    }
  }
}

#contact_BTN {

  //display: none;

  //    height: 125px;
  //    width: 125px;
  width: 8%;
  min-width: 100px;
  position: fixed;
  right: 50px;
  top: 10px;
  z-index: 999;

  > svg {
    fill: @brand-primary;
    height: 100%;
    width: 100%;
    display: block;
    stroke: none;
    #satWaves {
      stroke: #666;
      fill: none;
      stroke-width: 5px;
    }
  }

  .icons {
    i {
      color: #666;
      font-size: 3em;
      position: fixed;
      top: 20px;
      right: 20px;
      &:first-child {
        padding-right: 10px;
      }
      &:nth-child(2) {
        font-size: 4em;
      }
    }
  }
}
