//#wrap_portfolio {
  .portfolio {
    list-style: none;
    position: absolute;
    visibility: hidden;
    top: 35%;

    > li {
      max-width: 300px;
      display: inline-block;
      margin: 0 25px;

      > a {
        > img {
          width: 100%;

        }
      }
    }
  }
//}




